<%= javascript_include_tag 'integral', 'data-turbolinks-track': 'reload' %>

<div class='row' style='margin-bottom: 50px'>
  <div class='col-sm-4'>
    <div style='display: inline-block;' >
      <h1 style='color: #004466; text-transform: capitalize;'>Double and Triple Integrals</h1>
      <div class='sub-header pull-left' style='font-size: 20px; color: black;'>Conventional coding languages don't have a great way of evaluating things like integrals so I've decided to use a wolfram widget for now.</div>
    </div>
  </div>

  <div class="col-sm-8">
    <div style="display: inline-block; padding-top: 20px">
    <!--
      <%= form_tag '#', id: "form" do %>
        <%= select_tag(:poly_order, options_for_select([["Div",1],["Curl",2]])) %>
        <span>&emsp;F&ensp;=&ensp;</span>
        <%= text_field(:post, :x, size: 20) %>
        <span><i>i</i>&ensp;+&ensp;</span>
        <%= text_field(:post, :y, size: 20) %>
        <span><i>j</i>&ensp;+&ensp;</span>
        <%= text_field(:post, :z, size: 20) %>
        <span><i>z</i>&emsp;</span>
        <%= submit_tag("Submit") %>
      <% end %>
      -->
      <script type="text/javascript" id="WolframAlphaScriptbf8679a50a63113b582ed22679363a4" src="//www.wolframalpha.com/widget/widget.jsp?id=bf8679a50a63113b582ed22679363a4"></script>
      <script type="text/javascript" id="WolframAlphaScriptf5f3cbf14f4f5d6d2085bf2d0fb76e8a" src="//www.wolframalpha.com/widget/widget.jsp?id=f5f3cbf14f4f5d6d2085bf2d0fb76e8a"></script>
    </div>
    <p id='text' style='font-weight: 200; -webkit-font-smoothing: antialiased; color: #001943; padding-top: 20px;'></p>
  </div>
</div>

<script type="text/javascript">
  $("form").on("submit", function(){
    if (/*something is satisfied*/true) {
    } else {
      document.getElementById("text").innerHTML = "The data you entered is invalid"
    }
    return false;
  });
</script>